@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    @{ var myMessage = "Mayra Martz"; }
    <h2>Este ejercicio fue desarrollado por:  @myMessage</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>Esta página está en construcción a partir de: @ViewData["TimeStamp"] </p>


